<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sigma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>005F23081D488C7300B8D92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>005F23211D488C7300B8D92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>005F232C1D488C7300B8D92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
